// 移除react-static的loading动画
body {
  margin: 0;
  padding: 0;
}
.react-static-loading {
  display: none !important;
}

.page-header {
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  margin-bottom: 10px;
}
